:root {
  --icon--email: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>');
  --icon--venue: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>');
  --icon--party: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7v72V368c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6V147L192 223.8V432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6V200 128c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z"/></svg>');
}

.admonition.email {
  border-color: rgb(175, 209, 152);
}
.admonition.email > .admonition-title {
  background-color: rgba(175, 209, 152, 0.1);
  border-color: rgb(175, 209, 152);
}
.admonition.email > .admonition-title::before {
  background-color: rgb(175, 209, 152);
  -webkit-mask-image: var(--icon--email);
  mask-image: var(--icon--email);
}

.admonition.venue {
  border-color: rgb(90, 196, 97);
}
.admonition.venue > .admonition-title {
  background-color: rgba(90, 196, 97, 0.1);
  border-color: rgb(90, 196, 97);
}
.admonition.venue > .admonition-title::before {
  background-color: rgb(90, 196, 97);
  -webkit-mask-image: var(--icon--venue);
  mask-image: var(--icon--venue);
}

.admonition.party {
  border-color: rgb(255, 175, 69);
}
.admonition.party > .admonition-title {
  background-color: rgba(255, 175, 69, 0.1);
  border-color: rgb(255, 175, 69);
}
.admonition.party > .admonition-title::before {
  background-color: rgb(255, 175, 69);
  -webkit-mask-image: var(--icon--party);
  mask-image: var(--icon--party);
}

